:root {
  --text-block-yellow: rgba(232, 185, 49, 0.9);
  --text-block-white: rgba(255,255,255,0.7);
  --speech-bubble-white: rgba(255,255,255,0.7);
}

.section-container {
  /* Original size properties */
  /* height: 100dvh; */
  /* width: 100dvw; */
  top:1dvh;
  /* New portrait aspect ratio and centering */
  position: relative;
  background: #fdfdfd; /* Page background */
  inset:0;
  
  height: 86vh; /* Max height for the page */
  width:100dvw;
  /* width: calc(86vh * (5/7));  */
  /* max-width: calc(90vh * (5/7));  */
  /* max-height: 90vh; Ensure it doesn't overflow on very tall screens */
  
  /* Flex properties for internal content, if any */
  display: flex; 
  flex-direction: column; /* Content inside flows vertically */
  overflow: hidden; /* Hide anything outside the page boundaries */
  opacity:0;
  /* Centering within the section, handled by section's flex properties */
}

/* GLOBAL STYLE */
.page-layout {
  display: grid;
  /* 6 rows of equal height */
  gap: 10px;
  padding: 8px;
  background: #fff;
  position: relative;
  /* needed for absolute overlay */
  height: 100%;
  margin-top: 0;
  font-family: var(--font-family-comic);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  
}

.panel {
  /* filter: sepia(55%) grayscale(10%) contrast(110%) brightness(95%); */
  background: #000;
  border-radius:3px;
  overflow:hidden;
  border:solid 4px #000;
  box-shadow: 0 6px 6px -6px #000, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  position:relative;
  perspective: 80vmin;
}
.panel img, .panel video {
  filter: sepia(55%) grayscale(10%) contrast(110%) brightness(95%);  
}
video {
  object-fit: cover;
  height:105%;
  width:105%;
  top: 0;
  left: 0;
  position: absolute;
}
img {
  width:100%;
  height:100%;
  object-fit: cover;
  top:0;
  left:0;
  position:absolute;
}

/* .speech-bubble-container {
  position:absolute;
} */



@keyframes fadeOut {
     from { 
      opacity: 1; 
    }
     to { 
      opacity: 0; 
    }
   }
@keyframes fadeIn {
     from { 
      opacity: 0; 
    }
     to { 
      opacity: 1; 
    }
   }
    .fade-out {
     animation: fadeOut 0.5s ease-out forwards;
   }
    .fade-in {
     animation: fadeIn 0.5s ease-in forwards;
   }

@media (max-width: 480px) { /* Adjust breakpoint as needed for tablets and phones */
    .page-layout {
        display: block; /* Stack panels vertically */
    }

    .page-layout .panel {
        margin-bottom: 10px; /* Add some space between stacked panels */
        /* You might want to define a min-height or aspect-ratio for panels here */
        height: auto; /* Allow content to define height, or set a minimum */
    }
}