:root {
    --neon-text-color-blue: rgb(23, 158, 199);
    --neon-border-color-purple: rgb(199, 10, 206);
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#loading-page {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7efe6;
}

#loading-logo {
    display: block;
    position: absolute;
    height: 50dvh;
    top: 5%;
    filter: drop-shadow(0 0 16px rgba(7, 7, 7, 0.4));
}

#enter-btn {
    display: block;
    text-decoration: none;
    color: darkslategray;
    font-family: var(--font-family-kablam);
    font-size: 5.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 10;
    transition: all 0.3s ease;
    padding-top: 15%;
}

#enter-btn:hover {
    color: white;
    text-shadow: 0 0 10px black;
}