<%- include('../layouts/main', { 
    title: 'Login', 
    bodyClass: 'login-page-shell',
    body: `
        <section id="login" class="active"></section>
    `,
    extraScripts: `
        <script type="module">
            import { loadSection } from "/services/public/PageManager.js";
            import { loadCSS, loadScript } from "/libs/Utility.js";
            import { init as initLoginPage } from "/views/login/login.js";

            (async () => {
                await loadSection('login', '/views/login/login.html', false);
                await loadCSS('/views/login/login.css');
                initLoginPage();
            })();
        </script>
    `
}) %>
