<div class="section-container">
    <div class="shadow-wrapper">
        <div class="video-container">
            <div id="hero-image-wrapper">
                <img id="hero-image" class="landing-image" src="" alt="Hero Background" />
            </div>
            <div class="overlay"></div>
            <div class="logo-container">
                <h1 id="logo" title="SEQUENTIAL" class="">SEQUENTIAL</h1>
                <h2 id="subtitle">Graphic Novel <br />Studio & Library</h2>
            </div>
            <div class="btn get-started-btn-hero">Get Started</div>
        </div>
    </div>
</div>