:root {
  --font-family-comic: "Comic Book", cursive;
  --font-family-comic-bold: "Comic Book Bold", cursive;
  --font-family-comic-italic: "Comic Book Italic", cursive;
  --font-family-comic-bold-italic: "Comic Book Bold Italic", cursive;

  --font-family-mangat: "Mangat", sans-serif;
  --font-family-mangat-bold: "Mangat Bold", sans-serif;
  --font-family-mangat-italic: "Mangat Italic", sans-serif;

  --font-family-display: "Michroma", sans-serif;
  --font-family-accent: "Orbitron", sans-serif;
  --font-family-sans-serif: "Oswald", sans-serif;

  --font-family-Press-Start-2P: "Press Start 2P", cursive;
}

/* Global Font Definitions */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: "Press Start 2P";
  src: url(/views/public/styles/fonts/PressStart2P-Regular.ttf) format("truetype");
}

/* Local Comic Book Font Family */
@font-face {
  font-family: "Comic Book";
  src: url("/views/public/styles/fonts/Comic Book.otf") format("opentype");
}

@font-face {
  font-family: "Comic Book Bold";
  src: url("/views/public/styles/fonts/Comic Book Bold.otf") format("opentype");
}

@font-face {
  font-family: "Comic Book Italic";
  src: url("/views/public/styles/fonts/Comic Book Italic.otf") format("opentype");
}

@font-face {
  font-family: "Comic Book Bold Italic";
  src: url("/views/public/styles/fonts/Comic Book Bold Italic.otf") format("opentype");
}

/* Local Mangat Font Family */
@font-face {
  font-family: "Mangat";
  src: url("/views/public/styles/fonts/mangat.ttf") format("truetype");
}

@font-face {
  font-family: "Mangat Bold";
  src: url("/views/public/styles/fonts/mangatb.ttf") format("truetype");
}

@font-face {
  font-family: "Mangat Italic";
  src: url("/views/public/styles/fonts/mangati.ttf") format("truetype");
}