/* @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap'); */

:root {
    --font-family-comic: "Comic Book", cursive;
    --font-family-comic-bold: "Comic Book Bold", cursive;
    --font-family-comic-italic: "Comic Book Italic", cursive;
    --font-family-comic-bold-italic: "Comic Book Bold Italic", cursive;

    --font-family-mangat: "Mangat", sans-serif;
    --font-family-mangat-bold: "Mangat Bold", sans-serif;
    --font-family-mangat-italic: "Mangat Italic", sans-serif;

    --font-family-display: "Michroma", sans-serif;
    --font-family-accent: "Orbitron", sans-serif;
    --font-family-sans-serif: "Oswald", sans-serif;

    --font-family-Press-Start-2P: "Press Start 2P", cursive;

    --font-family-kablam: "Ka Blam", sans-serif;
    --font-family-kablam-under: "Ka Blam Under", sans-serif;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/views/shared/styles/fonts/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Comic Book";
    src: url("/views/shared/styles/fonts/Comic Book.otf") format("opentype");
}

@font-face {
    font-family: "Comic Book Bold";
    src: url("/views/shared/styles/fonts/Comic Book Bold.otf") format("opentype");
}

@font-face {
    font-family: "Comic Book Italic";
    src: url("/views/shared/styles/fonts/Comic Book Italic.otf") format("opentype");
}

@font-face {
    font-family: "Comic Book Bold Italic";
    src: url("/views/shared/styles/fonts/Comic Book Bold Italic.otf") format("opentype");
}

@font-face {
    font-family: "Manga Temple";
    src: url("/views/shared/styles/fonts/manga_t.ttf") format("truetype");
}

@font-face {
    font-family: "Manga Temple Bold";
    src: url("/views/shared/styles/fonts/manga_tb.ttf") format("truetype");
}

@font-face {
    font-family: "Manga Temple Italic";
    src: url("/views/shared/styles/fonts/mangati.ttf") format("truetype");
}

@font-face {
    font-family: "Ka Blam";
    src: url("/views/shared/styles/fonts/KaBlam.woff2") format("woff2"),
         url("/views/shared/styles/fonts/KaBlam.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Ka Blam Under";
    src: url("/views/shared/styles/fonts/KaBlamUnder.woff2") format("woff2"),
         url("/views/shared/styles/fonts/KaBlamUnder.ttf") format("truetype");
    font-display: swap;
}